{% extends 'admin/adminbase.html' %}
{% block content %} 
    
        
        <div class="container" style="margin-left: 10px; margin-right: 50px; padding-top: 50px;">
          
            <div class="row gy-2">
              {% for message in get_flashed_messages() %}
              <div class="alert alert-info">
                     {{ message }}
              </div>
              {% endfor %}
                    <h2 style="color: white; text-align: center;">User List</h2>
              <table>
            
                <thead>
              
                  <tr>
                    <th scope="col">User_id</th>
                    <th scope="col">User_name</th>
                    <th scope="col">User_mail</th>
                    <th scope="col">Action</th>
                  </tr>
              
                </thead>
            
                
                <tbody>
                    
                  <tr>
                    {% for user in users %}
                    {% if user.role == 'user' %}
                    <td scope="col">{{user.user_id}}</td>
                    <td scope="col">{{user.user_name}}</td>
                    <td scope="col">{{user.user_mail}}</td>
                    <td scope="col">
                      <button type="button" class="btn btn-danger"><a href= {{ url_for('delete_user', user_id = user.user_id) }} style="text-decoration:none; color: beige;"> Delete  </a></button>
                    </td>
                  
                  
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              
              
            
               
              </table>
              
            </div>
          </div>
        
      </section>
     
     </div>
     
{% endblock %}


