{% extends 'user/userbase.html' %}
{% block content %} 

<div class="container overflow-hidden text-center" style="color: white;">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3"><img style="height: 600px; width: 400px; margin-top: 30px;" src="{{book.book_img_path}}" class="img-thumbnail" alt="..."></div>
      </div>
      <div class="col" style=" height: 600px; margin-top: 50px;">
        <hr>
        <h1><div >{{ book.book_title }}</div></h1>
        <h3>By {{ book.Author }}</h3>
        <h5>Section: {{ book.section_name }}</h3>
          <hr>
        <div class="p-1" style="text-align: justify;">{{ book.book_content }}</div>
        <hr>
        
        
        
        &nbsp;&nbsp;  &nbsp;&nbsp;
   
        <button type="button" class="btn btn-info"style="position: relative;">Price: &#x20B9;&nbsp;{{book.book_price}}</button>
        &nbsp;&nbsp;&nbsp;
        <button type=submit class="btn btn-warning" style="position: relative;"><a class="nav-item nav-link" href="{{ url_for('add_to_cart', book_id = book.book_id) }}">Add to cart</a></button>
       
        
  
        <hr>
      </div>
    </div>
  </div>


{% endblock %}