{% extends 'user/userbase.html' %}
{% block content %} 

<div class="container" style="margin-left: 10px; margin-right: 10px; padding-top: 20px; color: white; text-align: center;">
    <hr>
    <h1>Library Privacy Guidelines </h1>
    <hr>
    <div style="text-align: left;">
        <h4>Introduction</h4>
        <p>
            Library management systems (LMS) are also known as integrated library systems (ILS). Libraries use them to inventory collections and manage user records. The LMS stores personal data collected from users. It also maintains records of what items users borrow, the holds they place, and bills they may incur. In addition, the LMS may share data with third parties. One reason would be to provide authentication for online resources.
            Library procedures and practices for managing the LMS should reflect library ethics, policies, and legal obligations concerning user privacy. Agreements between libraries and vendors should specify the following:

            Libraries retain ownership of all data;
            The vendor will comply with the appropriate federal, state, and local library privacy laws;
            The vendor agrees to observe the library's privacy, data retention, and security policies; and 
            Other parties used by the vendor will follow these policies.
            ALA provides these guidelines for libraries using an LMS. The guidelines include information about appropriate data management and security practices for library users' personal data.
        </p>
        <hr>
    </div>
    <div style="text-align: left;">
    <h4>Clear Privacy Policies</h4>
    <p>
        A library's privacy policy should reflect its data privacy practices for the LMS. The following practices help to create and maintain clear privacy policies:

        <p>First Notice: When users register for a library card or borrow materials for the first time, notify them of library privacy policies.</p>
        <p>Easy and Available: Library privacy policies should be easily available and easy to understand, using plain language. The policies also need to be in a publicly accessible format and in the languages of the major service populations.</p>
        <p>Change Notices: Libraries need to have a proactive process to notify ongoing users of any changes to the library's privacy policies.</p>
    </p>
    </div>
    <hr>
    <div style="text-align: left;">
        <h4>User Consent and Rights</h4>
        <p>
            LMS users should have options as to how much personal data is collected from them and how it may be used. Wherever possible, users should have the ability to access, modify, and delete personal data in the LMS at any time. Users should have a choice about whether to opt in to anything that requires personal data collection beyond what is required for business operations. Users should also have the ability to opt out if they change their minds. Users should be able to have the data destroyed when possible.
            Example: The LMS offers the ability to save the checkout history. This should be an opt-in feature. If users opt in, they should be able to opt out. They should also be able to have that checkout history destroyed.
        </p>

    </div>
    <hr>
    <div style="text-align: left;">
        <h4>Access to Personal Data</h4>
        <p>
            Users should have the right to access their own personal data and check its accuracy. Instructions on how the user can access their personal data should be clear and easy to find. <br>
            Third-party access to personal data should follow the applicable state laws on confidentiality of library records. They should also follow any other applicable local, state, and federal laws. This includes a user's access to another user's personal data in the LMS.<br>
            State and federal laws may give parents, guardians, and educators access to the library records of minors (see Library Privacy Guidelines for Students in K-12 Schools). Staff access to user data should be restricted to specific roles. Those roles should only allow for the minimal amount of data needed to complete an operational task.
        </p>

    </div>
  </div>






{% endblock %}